.card-container {
    display: grid;
    place-items: center;
    perspective: 400px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    width: 100px;
    height: 100px;
    box-shadow: 0 1px 3px gray;
    transition: 1.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    backface-visibility: hidden;
    color: white;
    text-align: center;
    line-height: 100px;
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    backface-visibility: hidden;
    color: white;
    line-height: 100px;
    transform: rotateY(-180deg);
}